

body{
    font-family: 'Montserrat-Black';
}
/* title section style*/
#title
{
    background-color: #ff4c8f;
    color: #fff;
  
    
}
h1{
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 100;
}
.container
{
    padding: 3% 15% 25%;

}
.rotate
{
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
}
.navbar-brand
{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    
    padding-bottom: 5rem ;

}
.nav-item{
padding: 0 18px 0;
}
.nav-link
{
font-weight: bold;
}
.d{
    margin: 5%;
    padding-top: 4rem;
}
/*second section */
#features
{
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
    padding: 3% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

}
.p{
    color: #8f8f8f;
}
.f
{
    text-align: center;
    padding: 5%;
}
.icon
{
    color:#ef8172;
    margin:1rem;
}
.icon:hover{
    color: #ff4c68;
}
/*testomonial section */
#testimonials
{
    background-color: #ef8172;
    
    text-align: center;
    color: white;
    
}
#press
{
    background-color: #ef8172;
    padding: 7% 10%;
    text-align: center;
}
h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1.5;
}
.test-image
{
    width: 10%;
    border-radius: 100%;
}
.pressi
{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item
{
    padding: 7% 15%;
}
/* pricing section */
#pricing
{
text-align: center;
padding: 7% 15%;
}
.c
{
    padding: 7% 0%;
}
/* media queries breakpoint */
@media (max-width: 992px){
    #title
    {
        text-align: center;
    }
    .rotate{
        position: static;
        transform: rotate(0);
    }
}

/* call to action */
#cta
{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
    font-family:"Montserrat-Black" ;
    
}
.f{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
    margin-bottom: 5%;
    text-align: center;
}
/* footer section */
#footer
{
    background-color: #fff;
    
    text-align: center;
    padding: 7% 15%;
    font-family:"Montserrat-Bold" ;
  
}
.fab
{
   margin: 20px 10px;
}